body {
    background-color: #19a1ad;
    background-image: url(./bg-pattern-bottom.svg), url(./bg-pattern-top.svg);
    background-position:  top 300px right -180px, bottom -20% left -287px;
    background-repeat: no-repeat, no-repeat;
}

div {
    position: relative;
    background-color: #ffffff;
    width: 25%;
    margin: auto;
    margin-top: 8rem;
    border-radius: 1rem;
}

.bg {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.vic {
    object-fit: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 35%;
    top: 5rem;
    border-radius: 50%;
    border: 4px solid white;
}
p {
    margin-top: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}
ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0rem;
}
ul li {
    list-style: none;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
span {
    font-size: 18px;
    font-weight: bold;
}
.low {
    letter-spacing: 2px;
    font-size: 9px;
    font-weight: lighter;
}
.lon {
    padding-top: 10px;
    font-size: 16px;
    font-weight: normal;
}
.attribution { 
    margin-top: 5.7rem;
    background-color: #19a1ad;
    font-size: 13px;
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }
button {
    /* margin-top: 2.5rem;
    margin-left: 2.5rem; */
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 18px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
button a {
    text-decoration: none;
    color: #016972;
}

@media(max-width: 1030px) {
    div {
        width: 50%;
    }
    .vic {
        object-fit: cover;
        width: 150px;
        height: 150px;
        position: absolute;
        left: 35%;
        top: 6rem;
        border-radius: 50%;
        border: 4px solid white;
    }
}
@media(max-width: 800px) {
    div {
        width: 50%;
    }
    .vic {
        object-fit: cover;
        width: 100px;
        height: 100px;
        position: absolute;
        left: 35%;
        top: 6rem;
        border-radius: 50%;
        border: 4px solid white;
    }
}

@media(max-width: 420px) {
    div {
        width: 50%;
    }
    .vic {
        object-fit: cover;
        width: 75px;
        height: 75px;
        position: absolute;
        left: 28.5%;
        top: 2rem;
        border-radius: 50%;
        border: 4px solid white;
    }
}